* {
    box-sizing: border-box;
}

/* Font Face */

@font-face {
    font-family: Lato-regular;
    src: url('../fonts/Lato/OpenSans-Regular.ttf');
}

@font-face {
    font-family: Shrikhand-regular;
    src: url('../fonts/Shrikhand/Shrikhand-Regular.ttf');
}
/* font-family: 'Shrikhand', cursive; */

html {
    margin: 0;
    /* background-color: black; */
}


body {
    margin: 0;
}

div, h1, h2, h3, p, li {
    margin: 0;
}

a {
    text-decoration: none;
}

.btn:focus {
    outline: none;
}

a, .btn {
    cursor: pointer;
}

.btn {
    width: 50px;
    height: 30px;
    padding: 5px;
    border: 0px;
    background-color: #3BC242;
    font-weight: bold;
    color: #1A00C4;
    border-radius: 4px;
}



/* ******HELPERS********** */

.text-align {
    text-align: center;
}


/* lists */
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* flex */
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.direction {
    flex-direction: column;
}


.flex-wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.header {
    /* background-color: #ffffff; */
    height: 130px;  
    border-bottom: 1px solid #3BC242; 
    justify-content: space-between;
}

/* .header h1 {
    text-align: center;
    line-height: 3rem;
    font-size: 3rem;
    padding: 20px;
    font-family: 'Shrikhand', cursive;
} */

.logo {
    /* float: left; */
    /* position: relative; */
    /* top: -100px; */
    /* left: 20px; */
    width: 150px;
    padding: 1rem;
    margin: 0 20px;
    /*colors*/
    /* blue: #1A00C4;
    orange: #F66920;
    green: #3BC242; */
    align-self: flex-start;
}

.nav-bar {
    font-family: 'Shrikhand', cursive;
    /* text-align: center; */
    /* line-height: 1.5rem; */
    font-size: 1.5rem;
    padding: 20px 50px;
    color:  #3BC242;
    text-align: center;
    /* clear: both; */
    align-self: center;

}
a:visited {
    color: #1A00C4;
}

.router-link-active {
    color: #3BC242;
    font-weight: bold;
}

/*****KEEPER-APP-CMP*****/

.radio-btns-container {

}

.add-container {
    margin-bottom: 30px;
}

.btn-radio {
    width: 70px;
    height: 30px;
    padding: 50px;
    margin-bottom: 20px;
}

.notes-list {
    align-items: flex-start;
}

.note {
    width: 250px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/****preview-note-cmp*****/

.title {
    padding: 20px;
    margin-bottom: 20px;
}


.note-img {
    width: 90%;
    align-self: center;

}